<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {{> meta}}
    </head>
    <body>
        {{> nav}}
        <main>
            <div class="container">
            <article>
                <!--[if lt IE 7]>
                    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->
                {{> slider}}
                {{#if play-store}}
                <a href="{{play-store}}" target="_blank" rel="nofollow">
                    <img src="/imgs/googlePlayIcon_60.png">
                </a>
                {{/if}}
                {{{ contents }}}
            </article>
            </div>
        </main>
        {{> footer}}
    </body>
</html>