<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {{> meta}}
</head>

<body>
    {{> nav}}
    <main>
        <div class="container">
            <div class="games">
                <article>
                    <h1>Games</h1>
                    <!--[if lt IE 7]>
                    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->
                    {{{ contents }}} {{> gamelist}}
                </article>
            </div>
            <div class="Assets">
                <article>
                    <h1>Assets</h1>
                    <!--[if lt IE 7]>
                        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
                    <![endif]-->
                    {{{ contents }}} {{> assetslist}}
                </article>
            </div>
            <div class="Projects">
                <article>
                    <h1>Projects</h1>
                    <!--[if lt IE 7]>
                            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
                        <![endif]-->
                    {{{ contents }}} {{> projectlist}}
                </article>
            </div>
        </div>
    </main>
    {{> footer}}
</body>

</html>