<footer>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	<p>Developed by <a href="{{ contact }}">{{ author }}</a></p>
	<p class="siteinfo">{{#if devBuild}}Development{{else}}Production{{/if}} build, version {{ version }}, {{ template }} template</p>
  
	<!-- Compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	<script src="/js/script.js"></script>

	
</footer>